//primary (body)
$primary-bg: #0c0c0c;
$primary-fg: rgb(255, 255, 255);
//secondary (containers)
$secondary-bg: #141414;
$secondary-fg: rgb(255, 255, 255);

//nav
$nav-bg: rgb(0, 0, 0);
$nav-fg: rgb(255, 255, 255);
$nav-fg-hover: #c90000;
